<div class="container mt-5">
  <div class="row align-items-center justify-content-between">
    <div>
      {{ query }}
      <br/>
      <br/>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>Director Name</th>
          <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of rawResponse; let i = index">
          <td>{{ item.directorName }}</td>
          <td>{{ item.title }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
